<md-content class="md-padding">
    <div layout="row" layout-wrap>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>PHP-Laravel Web Application</strong></p>
        </div>
        <div flex="20" flex-sm="50" flex-md="50">
            <p><strong>Dec 15</strong></p>
        </div>
        <div flex="100">
            <p>
                <strong>Description:</strong> Created application based on Laravel Framework. The application consists of CRUD
                operation and basic user authentification , registration.
            </p>
        </div>
    </div>
    <div flex="100">
        <p>
            <strong>Responsibilities:</strong>
        </p>
        <ul>
            <li>Developed application using PHP, Laravel framework, MySQL, HTML5, CSS3 and Bootstrap.</li>
            <li>Added basic authetification using javascript</li>
            <li>Added different controllers for different pages and customized the authentification for login for different users </li>
        </ul>
    </div>
    <div flex="100">
        <strong>Environment:</strong>
        <p> PHP, Laravel, HTML5, CSS3, Bootstrap, javascript.</p>
    </div>
</md-content>
