<md-content class="md-padding">
    <div layout="row" layout-wrap>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>AT&T, Arlington Heights, Il</strong></p>
        </div>
        <div flex="20" flex-sm="50" flex-md="50">
            <p><strong>June 2015 – April 2016. </strong></p>
        </div>
        <div flex="100">
        <p><strong>Full Stack Developer</strong>
        </p>
    </div>
        <div flex="100">
            <p>
                <strong>Description:</strong>“True Full Stack Development” for the oldest telecommunications company in the world.
                The position has intense focus on the development of tools that are the AT&T International Corporate Standard for usages
                such as trouble ticketing systems (Unified Desktop), workflow processes for customer service representatives (SASHA &TaskMaster)
                & the automation of common resolution steps to correct outages (GOLIATH/ETHAN & TQI),
                service interruptions, & general troubles in the vast & ever expanding AT&T landline & wireless network for voice & data. </p>
        </div>
    </div>
    <div flex="100">
        <p>
            <strong>Responsibilities:</strong>
        </p>
        <ul>
            <li>Involved in analysis, design and development and testing phases of the application development using Scrum Agile methodology.</li>
            <li>Involved in customization of product based on the customer's requirement, meeting delivery deadlines on development, testing, implementation phases of the system and customer relationship consulting.</li>
            <li>Solved tickets raised by AT&T business tool customers (User Agents) based on HTML5, CSS3, Bootstrap, JavaScript, JQuery and frameworks including Angular JS..</li>
            <li>Work closely with the UI team and provide RESTful API’s which deliver data in JSON format needed by the User Interface which uses Angular JS.</li>
            <li>Extensively worked on subroutines for different APIs using Perl, modifying and creating new connections to Database. Worked on internal tool which is purely based on PHP.</li>
            <li>Designed and developed web pages using with HTML5, CSS3, Ajax, Bootstrap, jQuery based on the W3C standards</li>
            <li>Extensively used JavaScript, jQuery to provide UI functionality. </li>
            <li>Wrote test scripts in Perl to test the functionality of various subroutine and to test the code during deployment.</li>
            <li>Added new templates and functionality to the internal tool.</li>
            <li>Used Ajax calls through Angular JS to populate the data tables on the front-end.</li>
            <li>Wrote Cross Browser code of CSS and JavaScript, Angular.js for Internet Explorer and Firefox.</li>
            <li>Used GIT for version control and JIRA for defect tracking.</li>
            <li>Developed UI and implemented for some plug-in using JavaScript, HTML, CSS and XML.</li>
            <li>Maintain, enhance, and recommend solutions that best suit business and technology needs from UI standpoint.</li>
            <li>Used AJAX, JSON with jQuery for request data and response processing.</li>
            <li>Used PUTTY for debugging and connect to my remote files in server securely using SSH Encryption (public key and private key) and WinSCP to transfer files between local and remote folders and change file permissions, paths and directories.</li>
            <li>Wrote JQUERY function while implementing various UI Screens across the whole web application (both consumer facing as well as internal application).</li>
        </ul>
    </div>
    <div flex="100">
        <strong>Environment:</strong>
        <p>PHP, PERL,HTML5, JavaScript, JQuery, CSS3, JSON, AJAX, Bootstrap, Ember JS, Angular JS</p>
    </div>
</md-content>
