<md-content class="md-padding">
    <div layout="row" layout-wrap>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>Illinois Institute of Technology-Graduate Student</strong></p>
        </div>
        <div flex="20" flex-sm="50" flex-md="50">
            <p><strong>Dec 15</strong></p>
        </div>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>Online Restaurant Booking Portal</strong></p>
        </div>
        <div flex="100">
            <p>
                <strong>Description:</strong> Created a online restaurant booking portal using Angular JS, Restful Api, MySQL
            </p>
        </div>
    </div>
    <div flex="100">
        <p>
            <strong>Responsibilities:</strong>
        </p>
        <ul>
            <li>Developed application using online restaurant booking portal using Angular JS, Restful Api, MySQL</li>
            <li>Added basic authetification using javascript</li>
            <li>Added different controllers for different pages and customized the authentification for login for different users </li>
            <li>Integrated  database MySQL with Restful web service</li>
            <li>Created custom directives for different templates</li>
            <li></li>
        </ul>
    </div>
    <div flex="100">
        <strong>Environment:</strong>
        <p> PHP, Laravel, HTML5, CSS3, Bootstrap, javascript.</p>
    </div>
</md-content>
