<md-content class="md-padding">
    <div layout="row" layout-wrap>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>Illinois Institute of Technology-Graduate Student</strong></p>
        </div>
        <div flex="20" flex-sm="50" flex-md="50">
            <p><strong>Dec 15</strong></p>
        </div>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>Shopping Cart Portal</strong></p>
        </div>
        <div flex="100">
            <p>
                <strong>Description:</strong> Created a online shopping cart portal using MVVM architecture. A shopping cart is basically a list
                that contains products selected by the user while he shops. When the user is finished shopping, he will usually examine the
                list to double-check that the items, quantities, and prices are correct. If he finds any errors he should be able to edit the list.
                Once he is ready, he should be able to check out. The checkout process involves an exchange of information that results in a sale.
            </p>
        </div>
    </div>
    <div flex="100">
        <p>
            <strong>Responsibilities:</strong>
        </p>
        <ul>
            <li>Created Shopping Cart Portal using HTML 5, CSS 3,Angular JS, JQuery, Bootstrap</li>
            <li>Created a single page application using MVVM architecture where a user can search, add, delete products to his shopping cart.</li>
            <li>Created custom directives and filter for the product page.</li>
            <li>Added PayPal and Google Wallet payment service for checkout</li>
        </ul>
    </div>
    <div flex="100">
        <strong>Environment:</strong>
        <p> HTML, CSS 3, Angular JS , JQuery, Bootstrap.</p>
    </div>
</md-content>
