<md-content class="md-padding">
    <div layout="row" layout-wrap>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>Abhyudaya Multimedia(Matrimonial Web Application)</strong></p>
        </div>
        <div flex="20" flex-sm="50" flex-md="50">
            <p><strong>October 2013-June 2014</strong></p>
        </div>
        <div flex="100">
            <p><strong>Java/JavaEE Developer </strong>
            </p>
        </div>
        <div flex="100">
            <p>
                <strong>Description:</strong> The main purpose of this application is to facilitate matchmaking business by applying the information in the field. This software helps the concerned firm to analyse to connect people with organization.
            </p>
        </div>
    </div>
    <div flex="100">
        <p>
            <strong>Responsibilities:</strong>
        </p>
        <ul>
            <li>Participates in the full SDLC including collaborative review meetings, estimations, design sessions, development and testing.</li>
            <li>Designed the front end applications, user interactive (UI) web pages using web technologies like HTML, XHTML, Angular.js and CSS.</li>
            <li>Responsible for developing the UI pages using HTML5, CSS3, JavaScript, JQuery</li>
            <li>Worked extensively with the backend team to integrate the HTML code into JSPs.</li>
            <li>Involved in developing and testing the intranet web applications using JSP, JavaScript and CSS.</li>
            <li>Worked with RESTful Web Services and implementing RESTful API's.</li>
            <li>Implemented GET and POST operations using Restful web services.</li>
            <li>Implemented client-side validations using JavaScript.</li>
            <li>Participated in the maintenance of the website.</li>
            <li>Responsible for quality assurance of finished websites including the validation of web forms and links.</li>
        </ul>
    </div>
    <div flex="100">
        <strong>Environment:</strong>
        <p> HTML5, CSS3, JavaScript, Jquery, Java, JSP, RESTful API, MYSQL.</p>
    </div>
</md-content>
