<md-content class="md-padding">
    <div layout="row" layout-wrap>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>Abhyudaya Multimedia(Commodity Trading Platform)</strong></p>
        </div>
        <div flex="20" flex-sm="50" flex-md="50">
            <p><strong>August 2012-September 2013</strong></p>
        </div>
        <div flex="100">
            <p><strong>Java/JavaEE Developer </strong>
            </p>
        </div>
        <div flex="100">
            <p>
                <strong>Description:</strong> This software manages all the records of clients who invest money in Land by Commodity;it keeps all the information of clients and generates various statistical data/reports which are very useful in making wise investments.
            </p>
        </div>
    </div>
    <div flex="100">
        <p>
            <strong>Responsibilities:</strong>
        </p>
        <ul>
            <li>Analysis, Database Designing and Technical Documentation and Online Testing</li>
            <li>Developed Commodity Trading Platform using Java, JSP, MySQL.</li>
            <li>Worked extensively with the backend team to integrate the HTML code into JSPs.</li>
            <li>Have worked in the Agile Methodology</li>
            <li>Used Hibernate, Spring MVC, Spring Security Roles.</li>
            <li>Created forms to collect and validate data from the user in HTML and JavaScript.</li>
            <li>Used JQuery plug-in auto complete, validation, drag and drop and more exceptionally</li>
            <li>Utilized various jQuery plugins to build Rich Internet Application (RIA) to make it look more intuitive</li>
            <li>Developed Page layouts, Navigations and presented designs and concepts to the clients and the management to review.</li>
            <li>nvolved in Enhancement of existing application utilizing JSP, Created HTML navigation menu that is role based menu items changes dynamically, derived from the database in the form of XML.</li>
            <li>Performing new-website support research in the areas of Latest Web Technologies, Usability, Accessibility, and User Experience</li>
        </ul>
    </div>
    <div flex="100">
        <strong>Environment:</strong>
        <p> HTML, JavaScript, JSP, MYSQL, Spring MVC, Hibernate.</p>
    </div>
</md-content>
